<div class="row">
  <div class="col-md-3">
    <button class="btn btn-success" (click)="showMessage('success')">Click to show Success Message</button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-danger" (click)="showMessage('error')">Click to show Error Message</button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-info" (click)="showMessage('info')">Click to show Info Message</button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-warning" (click)="showMessage('warning')">Click to show Warning Message</button>
  </div>
</div>
