<div class="header">
  <h2>Google Map</h2>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3>Google Map</h3>
      </div>
      <div class="card-body">
        <div>
          <!-- (ngSubmit)="onSubmit()" -->
          <form #locForm="ngForm">
            <div class="form-group">
              <input type="text" class="form-control" id="locInput" name="locInput" #search [(ngModel)]="searchControl" required>
            </div>
          </form>
        </div>

        <agm-map #AgmMap [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
        </agm-map>



      </div>
    </div>
  </div>
</div>


<style>
  agm-map {
    height: 600px;
  }

  .block {
    display: block;
  }
</style>
