Datepicker:
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="model">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</form>

<hr/>
<pre>Model: {{ model | json }}</pre> Multiple months:
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [displayMonths]="displayMonths" [navigation]="navigation"
        [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers" ngbDatepicker #d1="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</form>
<hr/>


<p>Example of the range selection</p>
<div class="col" style="height: 38px;">

  <!-- <style>
    .datePicketInput .btn-outline-secondary {
      background: #fff;
    }

    .datePicketInput .btn-outline-secondary:hover {
      background-color: #868e96;

    }

    .datePicketInput input[type="text"] {
      color: #000 !important;
      font-weight: 500;
    }

    .datePicketInput input[type="text"]::-webkit-input-placeholder {
      color: #000 !important;
      font-weight: 500;
    }

    .datePicketInput input[type="text"]:-moz-placeholder {
      /* Firefox 18- */
      color: #000 !important;
      font-weight: 500;
    }

    .datePicketInput input[type="text"]::placeholder {
      color: #000 !important;
      font-weight: 500;
    }

  </style> -->
  <form>
    <div class="form-group">
      <div class="input-group datePicketInput">
        <input type="text" class="form-control font-small-3 text-ellipsis" [(ngModel)]="dateSelected" readonly placeholder="Select Date Range"
          name="dp" style="background-color: #ffffff" #dp>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" style="z-index:0;" (click)="dateToggle = !dateToggle" type="button">
            <i class="fa fa-calendar" style="cursor: pointer;"></i>
          </button>
        </div>
      </div>

    </div>
  </form>
  <style>


  </style>
  <div style="position: relative;z-index:1000">
    <div [ngClass]="{'d-none':!dateToggle}" style="position: absolute;right:0px;    background: #fff;">
      <ngb-datepicker #dp1 ngModel (ngModelChange)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t">
      </ngb-datepicker>
      <ng-template #t let-date="date" let-focused="focused">
          <!-- isFrom(date) || isTo(date) ||  -->
        <span class="custom-day" [class.focused]="focused" [class.range]="isInside(date) || isHovered(date)"
          [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
      </ng-template>
    </div>
  </div>

</div>
<hr>

<pre>From: {{ fromDate | json }} </pre>
<pre>To: {{ toDate | json }} </pre>
