<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index page</title>
</head>

<body>

  <div id="app" class="">
    <nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light px-5">
      <a class="navbar-brand" href="#">
        <img src="assets/images/agsft_logo.png" title="Agile Soft system, Inc">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class=" mr-auto">
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item active px-2">
            <a class="nav-link " href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item  px-2">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item  px-2">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item  px-2">
            <a class="nav-link" href="#">Sign In</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <section class=" hero" id="hero1">
    <div>
      <img src="assets/images/nature.jpg" style="width:100%;">
    </div>
    <!-- <H1>
      <SPAN style="display:table-row; line-height:2;font-size:60px">WELCOME TO </SPAN>
      <span class="system">AGILE SOFT SYSTEM</span>
    </H1> -->
  </section>

  <!-- Footer -->
  <footer class="">
      <div class="footer-bottom">
          <div class="container-fluid">
                    <div class=" row">
                      <div class="col-sm-7 ">
                        <div class="copyright-text">
                          <p class="text-center">CopyRight © 2018 <span style="color:yellow"><b>Agile Soft</b></span>. All Rights Reserved</p>
                        </div>
                      </div> <!-- End Col -->
                      <div class="col-sm-5">							
                        <ul class="social-link ">
                          <li class="px-2"><a href="#" style="background-color:#00aced"><span class="fa fa-1x fa-fw fa-twitter"></span></a></li>						
                          <li class="px-2"><a href="#" style="background-color:#3b5998"><span class="fa fa-1x fa-fw fa-facebook"></span></a></li>
                          <li class="px-2"><a href="#" style="background-color:#007bb6"><span class="fa fa-1x fa-fw fa-linkedin"></span></a></li>
                          <li class="px-2"><a href="#" style="background-color:#bc2a8d"><span class="fa fa-1x fa-fw fa-instagram"></span></a></li>
                        </ul>							
                      </div> <!-- End Col -->
                    </div>
                  </div>
          </div>
  </footer>

</body>

</html>
