<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label>
    First Name:
    <input type="text" formControlName="firstName" required>
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="lastName" required>
  </label>

  <div formGroupName="address">
    <h3>Address</h3>

    <label>
      Street:
      <input type="text" formControlName="street" required>
    </label>

    <label>
      City:
      <input type="text" formControlName="city" required>
    </label>

    <label>
      State:
      <input type="text" formControlName="state" required>
    </label>

    <label>
      Zip Code:
      <input type="text" formControlName="zip" required>
    </label>
  </div>

  <div>
    <button type="submit" [disabled] = "!profileForm.valid">Submit</button>
    <button type="button" (click)="resetForm()">Reset</button>
  </div>

</form>
