<!-- <div class="nav-side-menu">
  <div class="brand">Brand Logo</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out" *ngFor="let menu of menuItems">
      <li *ngIf="!menu.submenu || (menu.submenu && menu.submenu.length==0)">
        <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  [routerLink]="[menu.link]">
          <i [ngClass]="menu.icon"></i> {{menu.displayName}}</a>
      </li>
      <li *ngIf="menu.submenu && menu.submenu.length !==0" data-toggle="collapse" data-target="#manage" class="collapsed">
        <a>
          <i [ngClass]="menu.icon"></i> {{menu.displayName}}
          <span class="arrow"></span>
        </a>
      </li>
      <ul *ngIf="menu.submenu && menu.submenu.length !==0" class="sub-menu collapse" id="manage">
        <li *ngFor="let submenu of menu.submenu">
          <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  [routerLink]="[menu.link+submenu.link]">
            <i [ngClass]="submenu.icon"></i> {{submenu.displayName}}</a>
        </li>
      </ul>

    </ul>
  </div>
</div>

<div class="main">
  <router-outlet></router-outlet>
</div> -->





<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Logo  <button type="button" id="sidebarCollapse" (click)="sidebarCollapseClick()" class="btn btn-info navbar-btn">
        <i class="fa fa-bars"></i>
      </button></h3>

    </div>

    <ul class="list-unstyled components">
          <p>Angular Template </p>
          <li *ngFor="let menu of menuItems">
              <a *ngIf="!menu.submenu || (menu.submenu && menu.submenu.length==0)"  [routerLink]="[menu.link]">
                      <i [ngClass]="menu.icon"></i> {{menu.displayName}}
              </a>
              <a *ngIf="menu.submenu && menu.submenu.length !==0" [href]="'#submenu_'+menu.displayName" data-toggle="collapse" aria-expanded="false">
                  <i [ngClass]="menu.icon"></i> {{menu.displayName}}
                  <span class="arrow"></span>
              </a>
              <ul class="collapse list-unstyled" [attr.id]="'submenu_'+menu.displayName" *ngIf="menu.submenu && menu.submenu.length !==0">
                  <li *ngFor="let submenu of menu.submenu">
                      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="[menu.link+submenu.link]">
                          <i [ngClass]="submenu.icon"></i> {{submenu.displayName}}</a>
                  </li>

              </ul>
          </li>

      </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <!-- <nav class="navbar navbar-default" > -->
      <!-- <div class="container-fluid"> -->

        <div class="navbar-header"  *ngIf="!hidetoggle">
          <button type="button" id="sidebarCollapse" (click)="sidebarCollapseClick()" class="btn btn-info navbar-btn">
            <i class="fa fa-bars"></i>
          </button>
        </div>

      <!-- </div> -->
    <!-- </nav> -->

    <router-outlet></router-outlet>
  </div>
</div>



