<div class="wrapper">

  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">

      <!-- <h3> -->
      <!-- image logo -->
      <img src="assets/images/agsft_logo.png" style="width:42px;height:37px" alt="logo">

      <button type="button" id="sidebarCollapse" (click)="sidebarCollapseClick()" class="btn btn-info navbar-btn" >
        <i class="fa fa-bars"></i>
      </button>
      <!-- </h3> -->

    </div>

    <ul class="list-unstyled components">
      <p style="font-weight:600">Angular Template </p>
      <li *ngFor="let menu of menuItems">
        <a *ngIf="!menu.submenu || (menu.submenu && menu.submenu.length==0)" [routerLink]="[menu.link]">
          <i [ngClass]="menu.icon" style="padding-right:5px;"></i> {{menu.displayName}}
        </a>
        <a *ngIf="menu.submenu && menu.submenu.length !==0" [href]="'#submenu_'+menu.displayName" data-toggle="collapse" aria-expanded="false">
          <i [ngClass]="menu.icon"  style="padding-right:5px;"></i> {{menu.displayName}}
          <span class="arrow"></span>
        </a>
        <ul class="collapse list-unstyled" [attr.id]="'submenu_'+menu.displayName" *ngIf="menu.submenu && menu.submenu.length !==0" >
          <li *ngFor="let submenu of menu.submenu" >
            <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="[menu.link+submenu.link]">
              <i [ngClass]="submenu.icon"  style="padding-right:5px;"></i> {{submenu.displayName}}</a>
          </li>

        </ul>
      </li>

    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>






<!-- navbar right-->

<nav class="navbar navbar-expand navbar-light bg-light">
  <ul class="navbar-nav ">
    <!-- Dropdown -->
    <div class="navbar-header">
      <button type="button" id="sidebarCollapse" (click)="sidebarCollapseClick()" class="btn btn-info">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <div class="ml-auto">
      <li class="nav-item dropdown ">
        <a class="nav-link  dropdown-toggle"   style="padding-right: 30px;" href="#" id="navbardrop" data-toggle="dropdown">
            <!-- dropdown-toggle -->
          Dropdown link
        </a>
        <div class="dropdown-menu" style="left:-15px;">
          <a class="dropdown-item" href="#">
            <i class="fa fa-cog" style="padding-right:15px;"></i>Setting</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="fa fa-sign-out" style="color: red;padding-right:15px;"></i>Log Out</a>
        </div>
      </li>
    </div>
  </ul>
</nav>
