<div class="buttons">
 <div class="row">
   <div class="col-md-12">
     <h2>Buttons</h2>
   </div>
 </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
            <div class="card">
                    <div class="card-header">
                      Buttons
                    </div>
                    <div class="card-body text-center">
                      <div class="row">
                        <div class="row">
                          <div class="col-sm-3">
                              <button type="button" class="btn btn-primary button-size">Primary</button>
                          </div>
                          <div class="col-sm-3 ">
                              <button type="button" class="btn btn-secondary button-size">Secondary</button>
                          </div>
                          <div class="col-sm-3">
                              <button type="button" class="btn btn-success button-size">Success</button>
                          </div>
                          <div class="col-sm-3 ">
                              <button type="button" class="btn btn-danger button-size">Danger</button>
                          </div>
                          </div>
                          <div class="row">
                          <div class="col-sm-3">
                              <button type="button" class="btn btn-warning button-size">Warning</button>
                          </div>
                          <div class="col-sm-3">
                              <button type="button" class="btn btn-info button-size ">Info</button>
                          </div>
                          <div class="col-sm-3">
                              <button type="button" class="btn btn-light button-size">Light</button>
                          </div>
                          <div class="col-sm-3">
                              <button type="button" class="btn btn-dark button-size  ">Dark</button>
                          </div>
                          </div>
                         

                      </div>
                       
                    </div>
                  </div>
    </div>

</div>
    
         
            <div class="row">
                <div class="col-md-12 col-sm-12">
                        <div class="card">
                                <div class="card-header">
                                  Outline Buttons
                                </div>
                                <div class="card-body text-center">
                                  <div class="row">
                                    <div class="row">
                                      <div class="col-sm-3">
                                          <button type="button" class="btn btn-outline-primary  button-size">Primary</button>
                                      </div>
                                      <div class="col-sm-3 ">
                                          <button type="button" class="btn btn-outline-secondary  button-size">Secondary</button>
                                      </div>
                                      <div class="col-sm-3">
                                          <button type="button" class="btn btn-outline-success button-size">Success</button>
                                      </div>
                                      <div class="col-sm-3 ">
                                          <button type="button" class="btn btn-outline-danger button-size">Danger</button>
                                      </div>
                                      </div>
                                      <div class="row">
                                      <div class="col-sm-3">
                                          <button type="button" class="btn btn-outline-warning button-size">Warning</button>
                                      </div>
                                      <div class="col-sm-3">
                                          <button type="button" class="btn btn-outline-info button-size">Info</button>
                                      </div>
                                      <div class="col-sm-3">
                                          <button type="button" class="btn btn-outline-light  button-size">Light</button>
                                      </div>
                                      <div class="col-sm-3">
                                          <button type="button" class="btn btn-outline-dark  button-size">Dark</button>
                                      </div>
                                      </div>
                                     
            
                                  </div>
                                   
                                </div>
                              </div>
                </div>
            
            </div>
                
        
        
        <div class="row">
            <div class="col-md-12 col-sm-12">
                    <div class="card">
                            <div class="card-header">
                              Buttons Sizes
                            </div>
                            <div class="card-body text-center">
                              <div class="row">
                                  <div class="col-sm-3 ">
                                      <button type="button" class="btn btn-primary btn-lg button-size">Large button</button>
                                  </div>
                                  <div class="col-sm-3 ">
                                      <button type="button" class="btn btn-secondary btn-lg button-size">Large button</button>
                                  </div>
                                  
                                  
                                      <div class="col-sm-3 ">
                                          <button type="button" class="btn btn-primary btn-sm button-size">Small button</button>
                                      </div>
                                      <div class="col-sm-3 ">
                                          <button type="button" class="btn btn-secondary btn-sm button-size">Small button</button>
                                      </div>
                                      <!-- <div lass="col-sm-2 "></div>
                                      <div lass="col-sm-2 "></div> -->
                                      
                                  
                                  
                                   
                                
                              </div>
                               
                            </div>
                          </div>
            </div>
        
        </div>
        <div class="row">
            <div class="col-md-12">
                  <div class="card">
                          <div class="card-header">
                        Active State
                          </div>
                          <div class="card-body">
                              <a href="#" class="btn btn-primary btn-lg active button-size abc" role="button" aria-pressed="true">Primary link</a>
                              <a href="#" class="btn btn-secondary btn-lg active button-size abc" role="button" aria-pressed="true">Link</a>
             
           
                          </div>
                        </div>
            </div>
        </div>
       


           
             <div class="row">
                <div class="col-md-12">
                      <div class="card">
                              <div class="card-header">
                            Disabled State
                              </div>
                              <div class="card-body">
                                <button type="button" class="btn btn-lg btn-primary button-size abc" disabled>Primary button</button>
                                <button type="button" class="btn btn-secondary btn-lg button-size abc" disabled>Button</button>
               
                              </div>
                            </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-12">
                      <div class="card">
                              <div class="card-header">
                          Radio Buttons
                              </div>
                              <div class="card-body">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
                                    </label>
                                    <label class="btn btn-secondary">
                                      <input type="radio" name="options" id="option2" autocomplete="off"> Radio
                                    </label>
                                    <label class="btn btn-secondary">
                                      <input type="radio" name="options" id="option3" autocomplete="off"> Radio
                                    </label>
                                  </div>
                                
               
                              </div>
                            </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                      <div class="card">
                              <div class="card-header">
                           Checkbox Buttons
                              </div>
                              <div class="card-body">
                                <label class="btn btn-secondary active">
                                    <input type="checkbox" checked autocomplete="off"> Checked
                                  </label>
               
                              </div>
                            </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                    <div class="card">
                            <div class="card-header">
                         Blocklevel Buttons
                            </div>
                            <div class="card-body">
                              <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                              <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
             
                            </div>
                          </div>
              </div>
          </div>
         
           
           
             