<div class="form-group row pt-2">
  <label class="col-md-4 label-control wizard-text label-vertical-center" for="userinput1">Single file select:
    <span class="red">*</span>
  </label>
  <div class="col-md-8">
    <label for="file-upload label-vertical-center" class="custom-file-upload" (click)="fileInput.click()" style="color: #fff !important">
      Select or Upload
    </label>
    <input id="file-upload" class="btn text-left file-upload" #fileInput type="file" name="file" ngModel (change)="getFiles($event)"
      #image="ngModel" />
  </div>
</div>
