<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3" style="margin-top: 50px">
      <div>
        <h3>Login</h3>
        <form (ngSubmit)="loginForm.form.valid && onSubmit()" #loginForm="ngForm" novalidate>

          <div class="form-group">
            <label for="alterEgo">Email</label>
            <input type="email" class="form-control" id="alterEgo" required [(ngModel)]="loginModel.email" name="email" #email="ngModel"
              [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }" required email>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
              <div *ngIf="email?.errors?.required">{{msgs.required}}</div>
              <div *ngIf="email?.errors?.email">{{msgs.required}}</div>
            </div>

          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="loginModel.password" #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)(?=.*[*@_$#!&]).{8,12}$"
              [ngClass]="{ 'is-invalid': password.invalid && (password.dirty || password.touched) }" required minlength="8"
            />
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
              <div *ngIf="password?.errors?.required">{{msgs.required}}</div>
              <div *ngIf="password?.errors?.minlength">{{msgs.passsVald}}</div>
              <div *ngIf="password?.errors?.pattern">{{msgs.passStandrd}}</div>
            </div>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
