
  <label style="font-weight: 600">Basic Table</label>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataList">
        <th scope="row">{{data.id}}</th>
        <td>{{data.first}}</td>
        <td>{{data.last}}</td>
        <td>{{data.handle}}</td>
      </tr>
    </tbody>
  </table>

  <br><hr>
  <label style="font-weight: 600">Dark Table</label>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataList">
        <th scope="row">{{data.id}}</th>
        <td>{{data.first}}</td>
        <td>{{data.last}}</td>
        <td>{{data.handle}}</td>
      </tr>
    </tbody>
  </table>

  <br><hr>
  <label style="font-weight: 600">Dark Header</label>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataList">
        <th scope="row">{{data.id}}</th>
        <td>{{data.first}}</td>
        <td>{{data.last}}</td>
        <td>{{data.handle}}</td>
      </tr>
    </tbody>
  </table>

  <br><hr>
  <label style="font-weight: 600">Striped Table</label>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataList">
        <th scope="row">{{data.id}}</th>
        <td>{{data.first}}</td>
        <td>{{data.last}}</td>
        <td>{{data.handle}}</td>
      </tr>
    </tbody>
  </table>


  <br><hr>
  <label style="font-weight: 600">Bordered Table</label>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataList">
        <th scope="row">{{data.id}}</th>
        <td>{{data.first}}</td>
        <td>{{data.last}}</td>
        <td>{{data.handle}}</td>
      </tr>
    </tbody>
  </table>



  <br><hr>
  <label style="font-weight: 600">Borderless Table</label>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataList">
        <th scope="row">{{data.id}}</th>
        <td>{{data.first}}</td>
        <td>{{data.last}}</td>
        <td>{{data.handle}}</td>
      </tr>
    </tbody>
  </table>


  <br><hr>
  <label style="font-weight: 600">Hoverable  rows Table</label>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataList">
        <th scope="row">{{data.id}}</th>
        <td>{{data.first}}</td>
        <td>{{data.last}}</td>
        <td>{{data.handle}}</td>
      </tr>
    </tbody>
  </table>



  <br><hr>
  <label style="font-weight: 600">Small Table</label>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataList">
        <th scope="row">{{data.id}}</th>
        <td>{{data.first}}</td>
        <td>{{data.last}}</td>
        <td>{{data.handle}}</td>
      </tr>
    </tbody>
  </table>
