<div class="container">
  <div class="prim-header" style="padding-top:40px;">
    <h2>Tables</h2>
  </div>
  <!-- Basic Table -->
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="margin-bottom:40px;">
        <div class="card-header">
          <h3>Basic Table</h3>
        </div>
        <div class="card-body">
          <label style="font-weight: 600">Basic Table</label>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dataList">
                  <th scope="row">{{data.id}}</th>
                  <td>{{data.first}}</td>
                  <td>{{data.last}}</td>
                  <td>{{data.handle}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Basic Table End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Dark Table -->
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="margin-bottom:40px;">
        <div class="card-header">
          <h3>Dark Table</h3>
        </div>
        <div class="card-body">
          <label style="font-weight: 600">Dark Table</label>
          <div class="table-responsive">
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dataList">
                  <th scope="row">{{data.id}}</th>
                  <td>{{data.first}}</td>
                  <td>{{data.last}}</td>
                  <td>{{data.handle}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Dark Table End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Dark Header  -->
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="margin-bottom:40px;">
        <div class="card-header">
          <h3>Dark Header</h3>
        </div>
        <div class="card-body">
          <label style="font-weight: 600">Dark Header</label>
          <div class="table-responsive">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dataList">
                  <th scope="row">{{data.id}}</th>
                  <td>{{data.first}}</td>
                  <td>{{data.last}}</td>
                  <td>{{data.handle}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Dark Header End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Striped Table -->
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="margin-bottom:40px;">
        <div class="card-header">
          <h3>Striped Table</h3>
        </div>
        <div class="card-body">
          <label style="font-weight: 600">Striped Table</label>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dataList">
                  <th scope="row">{{data.id}}</th>
                  <td>{{data.first}}</td>
                  <td>{{data.last}}</td>
                  <td>{{data.handle}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Striped Table End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Bordered Table -->
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="margin-bottom:40px;">
        <div class="card-header">
          <h3>Bordered Table</h3>
        </div>
        <div class="card-body">
          <label style="font-weight: 600">Bordered Table</label>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dataList">
                  <th scope="row">{{data.id}}</th>
                  <td>{{data.first}}</td>
                  <td>{{data.last}}</td>
                  <td>{{data.handle}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Bordered Table End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Borderless Table -->
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="margin-bottom:40px;">
        <div class="card-header">
          <h3>Borderless Table</h3>
        </div>
        <div class="card-body">
          <label style="font-weight: 600">Borderless Table</label>
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dataList">
                  <th scope="row">{{data.id}}</th>
                  <td>{{data.first}}</td>
                  <td>{{data.last}}</td>
                  <td>{{data.handle}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Borderless Table End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Hoverable Table -->
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="margin-bottom:40px;">
        <div class="card-header">
          <h3>Hoverable Table</h3>
        </div>
        <div class="card-body">
          <label style="font-weight: 600">Hoverable rows Table</label>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dataList">
                  <th scope="row">{{data.id}}</th>
                  <td>{{data.first}}</td>
                  <td>{{data.last}}</td>
                  <td>{{data.handle}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Hoverable Table End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Small Table -->
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="margin-bottom:40px;">
        <div class="card-header">
          <h3>Small Table</h3>
        </div>
        <div class="card-body">
          <label style="font-weight: 600">Small Table</label>
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dataList">
                  <th scope="row">{{data.id}}</th>
                  <td>{{data.first}}</td>
                  <td>{{data.last}}</td>
                  <td>{{data.handle}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Small Table End -->
        </div>
      </div>
    </div>
  </div>
</div>